.row
  .col.s3
    | Menu
    nav
      ul.right.hide-on-med-and-down
        li
          <a href="#!">First Sidebar Link</a></li>
        li
          <a href="#!">Second Sidebar Link</a></li>
      ul#slide-out.side-nav
        li
          <a href="#!">First Sidebar Link</a>
        li
          <a href="#!">Second Sidebar Link</a>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  .col.s9 Formularios


<nav>
  <ul class="right hide-on-med-and-down">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>
